# 구글 스프레드시트 설정
# 스프레드시트 URL에서 '/d/'와 '/edit' 사이의 문자열을 입력하세요.
# 예: https://docs.google.com/spreadsheets/d/1A2B3C4D5E6F7G8H9I0J/edit#gid=0 -> 1A2B3C4D5E6F7G8H9I0J
SPREADSHEET_ID=your_spreadsheet_id_here

# 현재가를 업데이트할 시트(탭) 이름
SHEET_NAME=Sheet1

# 구글 API 인증 서비스 계정 JSON 파일 이름 (프로젝트 폴더 내 위치해야 함)
CREDENTIALS_FILE=credentials.json
